body {
  font-family: Arial;
  text-align: center;
}

#boards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#player-board,
#computer-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  gap: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  background-color: rgb(136, 218, 245);
  border: 1px solid black;
}
.ship {
  background-color: gray;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}